body {
    font-family: "Roboto";
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color:#E5E7EB;
    padding: 15px 300px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.introduction {
    display: flex;
    flex: 2;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 90px 300px;
    justify-content: center;
}

.intro-container {
    flex: 1;
}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 450px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
    margin-bottom: 15px;
}

.intro-button {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 110px;
    height: 35px;
    border-radius: 10px;
    border-style: none;
}

.img-placeholder {
    display: flex;
    flex: 1;
    background-color: grey;
    justify-content: center;
    align-items: center;
    
}

.information {
    flex: 2;
    text-align: center;
    padding: 30px 50px 90px 50px;
    
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    gap: 45px;
    justify-content: center;
    
}

.info {
    width: 120px;
}

.info-image {
    border-style: solid;
    border-width: 0.3em;
    border-radius: 10px;
    border-color: #3882F6;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 15px;
}

.quotes {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: #E5E7EB;
    padding: 90px 160px;
    justify-content: center;
    align-items: center;
    
}

.quote-text {
    font-size: 36px;
    width: 800px;
}

.quote-originator {
    width:  800px;
    text-align: end;
}

.sign-up {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #F9FAF8;
    padding: 60px 300px;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.sign-up-container {
    display: flex;
    flex: 1;
    background-color: #3882F6;
    padding: 40px 300px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.sign-up-title {
    font-size: 24px;
    font-weight: bolder;
}

.sign-up-button {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 110px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-color: #F9FAF8;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 30px 0px;
    color: #F9FAF8;;
}